body {
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 500px;
    font-family: 'Space Grotesk', sans-serif;
}
.container {
    font-family: 'Space Grotesk', sans-serif;
}

.card {
    margin-top: -5rem;
   
    

}
.c-data {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    position: relative;
    top: -10.8rem;
    left: 2rem;
    color: white;
}
.c-number {
    font-size: 2rem;
    
}
.c-date {
    display: flex;
    flex-direction: row;
    top:-14rem;
    left: 20rem;
    color: white;
    position: relative;
}
.backcard {
    
    margin-top: -25rem;
    
}
#cvcc {
    color: white;
    position: relative;
    bottom: 9.8rem;
    left: 21rem;
    font-weight: 600;
}
.form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    
    gap: 5rem;
   
}

span {
    color: red;
    font-size: 0.8rem;
    height: 50px;
}
.card-info1{
   display: flex;
   flex-direction: column;
   gap: 5rem;
    
}
.card-info2{
   text-align: center;
   display: flex;
   flex-direction: row;
   gap: 73px;
}
.btn  {
    width: 25rem;
    height: 3rem;
    color: white;
    background-color:  rgb(12, 12, 66);
    border-radius: 10px;
    
    font-size: 1em;

    

}
input {
    border-radius: 10px;
    height: 3rem;
    border: black solid 1px;
    font-family: 'Space Grotesk', sans-serif;
   

}
input,label {
    display: block;
    
    
}
input[type=text] {
    text-align: center;
    z-index: 1;
    position: relative;
}

.after-form {
   visibility: hidden;
   display: flex;
   flex-direction: column;
   margin: auto;
   text-align: center;
 

   
}
    

#contine {
    margin-top: -2rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    background-color:rgb(12, 12, 66);
    color:white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;    
    margin-top: 1rem;
}
#p-after {
    width: 16rem;
    margin-top: 1rem;
    text-align: center;
}
@media screen and (max-device-width:900px) {
    body {
        overflow-x: hidden;
 
        padding: 0;
        margin: 0;
        max-width: auto;
       
        background-image: url("images/bg-main-mobile.png");
        background-size: 100% 15%;
      
    }
    section {
        height: 50rem;
      
    }
    .container {
       display: flex;
       flex-direction: column;
       gap: 10rem;
       place-items: center;
       margin: auto;
       
      }
      .card {
        position: relative;
        top: 3rem;
        margin: auto;
      }
      #logo {
        position: relative;
        top: -8rem;
        right: 18.5rem;
        height: 2rem;
      }
      .fcard {
        position: relative;
        top: 5rem;
        z-index: 1;
        left: 1rem;
      }
      .c-data {
         margin-top: 2rem;
      }
      
      #c-number {
        font-size: 1.3rem;
      }
      #c-name {
        font-size: 0.8rem;
      }
      .c-date {
        font-size: 1rem;
        position: relative;
        left: 14rem;
        margin-top: 0.7rem;
        font-size: 0.7rem;
      }
    
    
       .backcard {
        position: relative;
        top:1rem;
        left: 2rem;
        z-index: 0;
        
        
      }
      .cvcc   {
       position: relative;
       bottom: 7.2rem;
       left: 15rem;
       color: white;
       font-size: 0.8rem;
      }
      .cvcc p {
        font-size: 1rem;
      }
      .c-front {
        width: 20rem;
        
      }
      .bcard{
        width: 20rem;
      }
      .form { 
        display: flex;
        margin: auto;
        height: 100%;
        grid-area: form;
        place-items: center;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        bottom: 1rem;
        
    }
     input[type=text] {
        
        width:20rem;
     }
     .card-info1 {
        gap: 2rem;
     }
     .card-info2 {
        column-gap: 1rem;
     }
     .btn {
        width:20rem;
     }
     .display-form {
        display: block;
     }
     .after-form {
        
     }
 
    
}
@media only screen and (min-width : 992px) {
  body {
        overflow: hidden;
        background-image: url("images/bg-main-desktop.png");
        background-size: 40rem;  
    }
  .container {
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1.2fr 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              "card form"
              "card form"
              "card form"; 
          }
  .form { 
    grid-area: form;
    margin-top: 15rem;
    margin-left: 20%;
    gap: 2rem;
 }
 .card {
     grid-area: card; 
     margin-top: 12rem;
     display: flex;
     flex-direction: column;
     gap: 15rem;
     margin-left: 30%;
    }

    .c-data {
        margin-top:0.5rem;
        font-size: 1.1rem;
    }
    #c-number {
        font-size: 1.8rem;
    }
    .c-date {
        position: relative;
        top: -14.4rem;
    }

    .cvcc {
        color: white;
        position: relative;
        top: -9.8rem;
        left:22.5rem;
    }
    input[type=text] {
        width: 25rem;
    }
   .after-form {
        
   }
   .card-info1 {
    gap: 3rem;
   }
   .btn {
    margin-top: 2rem;
   }
   #logo {
    position: relative;
    top: -10.5rem;
    right: 26.5rem;
   }
}
